<title>Software Development Engineer 2-6</title>


<div id="oc_1" hx-swap-oob="false"></div>
<div>


    
    <div class="px-1 border-bottom">
        <h1>
            Software Development Engineer 2-6
        </h1>
    </div>
    
    <div class="px-1 border-bottom">
        <div class="hstack justify-content-between">
            <div>
                
                India - Bangalore - Remote Office
                <span class="text-success">[R]</span>
                
            </div>
            <div>
                <strong>
                    <a href="/hiring/companies/" rel="nofollow">@ ...</a>
                </strong>
            </div>
        </div>
        <div class="hstack justify-content-between">
            <div class="text-body-secondary pe-1">
            [Mid-level / Intermediate]
            <span class="text-warning-emphasis">[~4yoe]</span>
            <br>
            [Full Time]
            
            
            </div>
            <div>
                <em>
                    Found 4h ago
                </em>
                
            </div>
        </div>
    </div>
    <div class="px-1 border-bottom pb-2">
        <strong>Tasks:</strong>
        <ul class="list-unstyled mb-2">
        <li>* Build and maintain scalable microservices</li><li>* Collaborate on solution design</li><li>* Contribute to CI/CD pipelines</li><li>* Debug and troubleshoot production issues</li><li>* Develop public APIs</li><li>* Document technical processes</li><li>* Work with cross-functional teams</li><li>* Write automated tests</li>
        </ul>
        <strong>Perks/Benefits:</strong>
        <ul class="list-unstyled mb-2">
        N/A
        </ul>
        <strong>Skills/Tech-stack required:</strong>
        <div class="text-primary-emphasis mb-2">
        [AWS][CI/CD][Docker][Git][Grafana][GRPC][Java][Kafka][Kubernetes][PostgreSQL][Prometheus][REST APIs][Spring Boot]
        </div>
        <strong>Educational requirements:</strong>
        <div class="text-warning-emphasis text-wrap">
        N/A
        </div>
    </div>
    <div class="p-1 border-bottom">
        
        <a class="btn btn-outline-primary btn-sm"
            hx-get="/hiring/jobs/top/"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-replace-url="true"
            hx-on::before-request="event.detail.target.innerHTML = '...'">
            Close
        </a>
        
        <button class="btn btn-outline-primary btn-sm"
            onclick="navigator.clipboard.writeText('https://foorilla.com/hiring/jobs/software-development-engineer-2-6-india-bangalore-remote-office-819036/').then(() => {
                document.body.dispatchEvent(
                    new CustomEvent('showToasts', {detail: [{message: 'Job link copied!', tags: 'success'}]})
                )
            })">
            Copy link
        </button>
        <button class="btn btn-outline-primary btn-sm"
            
            hx-target="#mc_2"
            hx-post="/hiring/jobs/819036/save/">
            Save
        </button>
        
        <a class="btn btn-primary btn-sm"
            href="/hiring/jobs/crahcVTeWfYpXeG/apply/" target="_blank" rel="nofollow">
            Apply
        </a>
        
    </div>

    
    
    <div id="dm_0">

<div class="border-bottom">
<div class="d-flex justify-content-start">
    <div class="border-end px-1 text-bg-light">
        <h3><a href="" class="text-primary"
            hx-get="/hiring/jobs/more/819036/1/"
            hx-target="#dm_0">
            Similar jobs</a></h3>
    </div>
    <div class="border-end px-1">
        <h3><a href=""
            hx-get="/hiring/jobs/more/819036/2/"
            hx-target="#dm_0">
            Media</a></h3>
    </div>
</div>
</div>
<ul class="list-group list-group-flush text-break">

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-development-engineer-2-2-india-bangalore-remote-office-779408/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Development Engineer 2-2</a>
<div class="flex-shrink-0 text-body-secondary"><small>7d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>India - Bangalore - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-development-engineer-1-5-india-bangalore-remote-office-801626/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Development Engineer 1-5</a>
<div class="flex-shrink-0 text-body-secondary"><small>5d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>India - Bangalore - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/mid-python-developer-brazil-remote-office-808804/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Mid Python Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>4d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>Brazil - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-software-engineer-india-bangalore-remote-office-516851/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior, Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>2mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>India - Bangalore - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-development-engineer-4-india-bangalore-remote-office-572725/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Development Engineer 4</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis"></small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>India - Bangalore - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-development-engineer-4-india-bangalore-remote-office-572733/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Development Engineer 4</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis"></small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>India - Bangalore - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-development-engineer-4-india-bangalore-remote-office-572738/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Development Engineer 4</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis"></small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>India - Bangalore - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-development-engineer-4-india-bangalore-remote-office-572740/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Development Engineer 4</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis"></small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>India - Bangalore - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-development-engineer-4-india-bangalore-remote-office-572736/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Development Engineer 4</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis"></small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>India - Bangalore - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-development-engineer-4-india-bangalore-remote-office-572735/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Development Engineer 4</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis"></small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>India - Bangalore - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-development-engineer-4-india-bangalore-remote-office-572724/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Development Engineer 4</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis"></small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>India - Bangalore - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-development-engineer-4-india-bangalore-remote-office-572730/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Development Engineer 4</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis"></small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>India - Bangalore - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-software-engineer-washington-remote-office-united-states-585280/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    <small class="text-success-emphasis">USD 158K-210K</small>
</div>
<div class="text-end">
    <small>Washington - Remote Office, United States <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-india-bangalore-remote-office-516854/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>2mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>India - Bangalore - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-software-development-engineer-washington-remote-office-united-states-566644/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Software Development Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    <small class="text-success-emphasis">USD 135K-180K</small>
</div>
<div class="text-end">
    <small>Washington - Remote Office, United States <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/principal-engineer-global-headquarters-united-states-758284/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Principal Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>12d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    <small class="text-success-emphasis">USD 195K-260K</small>
</div>
<div class="text-end">
    <small>Global Headquarters, United States <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/principal-engineer-global-headquarters-united-states-582572/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Principal Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    <small class="text-success-emphasis">USD 195K-260K</small>
</div>
<div class="text-end">
    <small>Global Headquarters, United States <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/staff-software-engineer-brazil-sao-paulo-remote-office-639917/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Staff Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>Brazil Sao Paulo - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/mid-c-software-engineer-brazil-remote-office-436310/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Mid C# Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>2mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>Brazil - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineering-manager-java-brazil-sao-paulo-remote-office-818986/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineering Manager (Java)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>Brazil Sao Paulo - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-software-engineer-brazil-sao-paulo-remote-office-639919/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>Brazil Sao Paulo - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/mid-software-engineer-data-platform-brazil-sao-paulo-remote-office-808858/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Mid Software Engineer, Data Platform</a>
<div class="flex-shrink-0 text-body-secondary"><small>4d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>Brazil Sao Paulo - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/mid-c-software-developer-brazil-remote-office-435755/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Mid C# Software Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>2mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>Brazil - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/mid-c-software-developer-brazil-sao-paulo-remote-office-639878/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Mid C# Software Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>Brazil Sao Paulo - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-development-engineer-3-brazil-sao-paulo-remote-office-639880/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Development Engineer 3</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis"></small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>Brazil Sao Paulo - Remote Office <span class="text-success">[R]</span></small>
</div>
</div>
</li>


</ul>



</div>


</div>
