<title>Senior Software Engineer</title>


<div id="oc_1" hx-swap-oob="false"></div>
<div>


    
    <div class="px-1 border-bottom">
        <h1>
            Senior Software Engineer
        </h1>
    </div>
    
    <div class="px-1 border-bottom">
        <div class="hstack justify-content-between">
            <div>
                
                INBLR02 - Bangalore - Milesstone Buildcon, India
                
                
            </div>
            <div>
                <strong>
                    <a href="/hiring/companies/" rel="nofollow">@ ...</a>
                </strong>
            </div>
        </div>
        <div class="hstack justify-content-between">
            <div class="text-body-secondary pe-1">
            [Senior level / Expert]
            <span class="text-warning-emphasis">[~8yoe]</span>
            <br>
            [Full Time]
            
            
            </div>
            <div>
                <em>
                    Found 4h ago
                </em>
                
            </div>
        </div>
    </div>
    <div class="px-1 border-bottom pb-2">
        <strong>Tasks:</strong>
        <ul class="list-unstyled mb-2">
        <li>* Adapt to changing project priorities</li><li>* Apply data structures, algorithms, design patterns, and architecture principles</li><li>* Build cloud native, event-driven, scalable distributed systems</li><li>* Collaborate effectively within diverse teams</li><li>* Create and maintain REST APIs, GraphQL, gRPC services</li><li>* Design and review high-performance reactive code</li><li>* Develop and optimize database schemas in SQL, NoSQL, Graph databases</li><li>* Follow Agile methodologies and documentation standards</li><li>* Implement solutions using cloud platforms like Azure, GCP, AWS</li><li>* Use version control and testing tools</li>
        </ul>
        <strong>Perks/Benefits:</strong>
        <ul class="list-unstyled mb-2">
        <li>+ Collaborative culture</li><li>+ International work environment</li><li>+ Professional training</li>
        </ul>
        <strong>Skills/Tech-stack required:</strong>
        <div class="text-primary-emphasis mb-2">
        [12-Factor App][Agile Scrum][Algorithms][Apache Druid][AWS][Azure][BDD][Blackduck][C#][Cassandra][Clean architecture][Cucumber][Data Structures][Design Patterns][Domain-Driven Design][Event Driven][Event-driven microservices][GCP][GitHub][GitLab][GraphQL][GRPC][Kafka][Kubernetes][Markdown][MongoDB][.NET][PGSQL][Polaris][Postman][Redis][REST API][SOLID][SonarQube][SQL][Swagger][TDD][XUnit]
        </div>
        <strong>Educational requirements:</strong>
        <div class="text-warning-emphasis text-wrap">
        [Bachelor&#x27;s Degree][Master&#x27;s Degree]
        </div>
    </div>
    <div class="p-1 border-bottom">
        
        <a class="btn btn-outline-primary btn-sm"
            hx-get="/hiring/jobs/top/"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-replace-url="true"
            hx-on::before-request="event.detail.target.innerHTML = '...'">
            Close
        </a>
        
        <button class="btn btn-outline-primary btn-sm"
            onclick="navigator.clipboard.writeText('https://foorilla.com/hiring/jobs/senior-software-engineer-inblr02-bangalore-milesstone-buildcon-india-819781/').then(() => {
                document.body.dispatchEvent(
                    new CustomEvent('showToasts', {detail: [{message: 'Job link copied!', tags: 'success'}]})
                )
            })">
            Copy link
        </button>
        <button class="btn btn-outline-primary btn-sm"
            
            hx-target="#mc_2"
            hx-post="/hiring/jobs/819781/save/">
            Save
        </button>
        
        <a class="btn btn-primary btn-sm"
            href="/hiring/jobs/vWTDGd6YSM6nm6J/apply/" target="_blank" rel="nofollow">
            Apply
        </a>
        
    </div>

    
    
    <div id="dm_0">

<div class="border-bottom">
<div class="d-flex justify-content-start">
    <div class="border-end px-1 text-bg-light">
        <h3><a href="" class="text-primary"
            hx-get="/hiring/jobs/more/819781/1/"
            hx-target="#dm_0">
            Similar jobs</a></h3>
    </div>
    <div class="border-end px-1">
        <h3><a href=""
            hx-get="/hiring/jobs/more/819781/2/"
            hx-target="#dm_0">
            Media</a></h3>
    </div>
</div>
</div>
<ul class="list-group list-group-flush text-break">

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-net-inblr02-bangalore-milesstone-buildcon-india-783583/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer- .Net</a>
<div class="flex-shrink-0 text-body-secondary"><small>8d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-net-core-net-6-indjz03-pune-weikfield-it-citi-infopark-india-680030/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer - .Net core / .Net 6+</a>
<div class="flex-shrink-0 text-body-secondary"><small>27d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INDJZ03 - Pune - Weikfield IT …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-net-cloud-microservices-indjz03-pune-weikfield-it-citi-infopark-india-764348/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer (.NET, Cloud &amp; Microservices)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INDJZ03 - Pune - Weikfield IT …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-net-cloud-microservices-indjz03-pune-weikfield-it-citi-infopark-india-711581/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer (.NET, Cloud &amp; Microservices)</a>
<div class="flex-shrink-0 text-body-secondary"><small>21d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INDJZ03 - Pune - Weikfield IT …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-net-cloud-microservices-indjz03-pune-weikfield-it-citi-infopark-india-737940/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer (.NET, Cloud &amp; Microservices)</a>
<div class="flex-shrink-0 text-body-secondary"><small>15d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INDJZ03 - Pune - Weikfield IT …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-inblr02-bangalore-milesstone-buildcon-india-764425/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-inblr02-bangalore-milesstone-buildcon-india-815959/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>2d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-inblr02-bangalore-milesstone-buildcon-india-636567/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-software-engineer-inblr02-bangalore-milesstone-buildcon-india-744786/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>14d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-software-engineer-inblr02-bangalore-milesstone-buildcon-india-715641/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>20d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-software-engineer-inblr02-bangalore-milesstone-buildcon-india-717489/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>20d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-software-engineer-inblr02-bangalore-milesstone-buildcon-india-702588/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>22d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-software-engineer-inblr02-bangalore-milesstone-buildcon-india-750029/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>13d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-software-engineer-inblr02-bangalore-milesstone-buildcon-india-738050/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>16d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-software-engineer-net-inblr02-bangalore-milesstone-buildcon-india-793599/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Software Engineer - .Net</a>
<div class="flex-shrink-0 text-body-secondary"><small>6d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-developer-inblr02-bangalore-milesstone-buildcon-india-758343/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>12d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-backend-data-engineer-inblr02-bangalore-milesstone-buildcon-india-819197/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Backend Data Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-inblr02-bangalore-milesstone-buildcon-india-730625/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>18d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-inblr02-bangalore-milesstone-buildcon-india-730583/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>18d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis"></small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-inblr02-bangalore-milesstone-buildcon-india-730569/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>18d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis"></small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-software-engineer-java-inblr02-bangalore-milesstone-buildcon-india-764407/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Software Engineer - Java</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-software-engineer-java-inblr02-bangalore-milesstone-buildcon-india-738008/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Software Engineer - Java</a>
<div class="flex-shrink-0 text-body-secondary"><small>15d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-inblr02-bangalore-milesstone-buildcon-india-711804/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>21d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis"></small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-software-engineer-net-core-net-6-indjz03-pune-weikfield-it-citi-infopark-india-687049/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Software Engineer - .Net core / .Net 6+</a>
<div class="flex-shrink-0 text-body-secondary"><small>27d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INDJZ03 - Pune - Weikfield IT …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/java-backend-engineer-inblr02-bangalore-milesstone-buildcon-india-764367/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Java Backend Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis"></small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>INBLR02 - Bangalore - Milesstone Buildcon, …</small>
</div>
</div>
</li>


</ul>



</div>


</div>
